body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f7f7f7;
}


.container {
    max-width: 1200px; /* or any other value */
    margin: 0 auto; /* centers the content */
}

.navbar-nav .nav-link:hover {
    color: red !important; /* Change to desired color */
}

.navbar {
    z-index: 1; /* Add this */
    position: sticky; /* Add this if not already present */
    height: 100px;
}

.nav-link {
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    height: auto; /* adjust as needed */
    width: auto; 
    max-width: 50%;
    height: auto;
    padding: 5px;
}

.hero-card {
    position: sticky;
    margin: auto;
    height: 500px;
} 

/*^ masih rounded gambarnya */

.hero-card img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}


.hero-card .card-img {
    opacity: 0.8;
}

.hero-card .card-img-overlay {
    background-color: rgba(0, 0, 0, 0.2);
}


.card-title {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

.card-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    display: block;
}

.header {
    text-align: center;
    padding: 20px;
    background-color: #6c757d;
    color: lightblue;
}

h2{
    margin-left: 20px;
}

.downloads button {
    width: 100%; /* Full width on small screens */
    max-width: 300px; /* Maximum width to maintain on large screens */
    padding: 20px 20px;
    font-size: 14px;
    cursor: pointer;
}


.banner {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    padding: 20px;
    margin: 20px 0;
}

.banner h2 {
    color: #343a40;
}

.banner ul {
    list-style-type: none;
    padding: 0;
}

.banner li {
    padding: 10px 0;
    border-bottom: 1px solid #dee2e6;
}

.banner li:last-child {
    border-bottom: none;
}

.testimony {
    margin-left: 20px;
    padding: 20px;
}

.downloads button {
    margin-right: 10px;
    padding: 20px 20px;
    font-size: 14px;
    cursor: pointer;
}

.content {
    padding: 20px;
}


.banner {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    padding: 20px;
    margin: 20px 0;
}

.banner h2 {
    color: #343a40;
}

.banner ul {
    list-style-type: none;
    padding: 0;
}

.banner li {
    padding: 10px 0;
    border-bottom: 1px solid #dee2e6;
}

.banner li:last-child {
    border-bottom: none;
}

.upload-form {
    width: 500px;
    margin: 0 auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.upload-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.upload-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
}

.upload-form input[type="text"],
.upload-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-size: 16px;
}

.upload-form input[type="file"] {
    margin-bottom: 20px;
}

.upload-form button[type="submit"] {
    background-color: #6c757d;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}

.upload-form button[type="submit"]:hover {
    background-color: #5a6268;
}

.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type=submit]:hover {
    opacity: 0.8;
}

.footer {
    width: 100%;
    position: relative;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

