body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f7f7f7;
}

.navbar-nav .nav-link:hover {
    color: red !important; /* Change to desired color */
}

.navbar {
    z-index: 1; /* Add this */
    position: sticky; /* Add this if not already present */
    height: 100px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 3px rgba(0, 0, 0, 0.05);
}

.nav-link {
    display: inline-flex;
    align-items: flex-start;
    gap: 73px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
}

.banner-card{
    width: auto;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 6%;
    margin-right: 6%;
}

.banner-text1{
    height: 100px;
    color: #000;
    font-size: 40px;
    font-weight: 600;
    margin-top: 1rem;
    margin-left: 3%;
}

.banner-card1{
    width: 30%;
    height: 350px;
    flex-shrink: 0;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.banner-textH{
    color: var(--off-white, #FAFAFA);
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 500;
    margin-top: 1.5rem;
}

.banner-textSH{
    color: var(--off-white, #FAFAFA);
    font-size: 29px;
    font-family: Montserrat;
    font-weight: 700;
}

#basic-ux{
    background: var(--dusk-gradient, linear-gradient(180deg, #9370DB 0%, #D8BFD8 100%));
  }

  #it-case{
    background: var(--forest-gradient, linear-gradient(180deg, #3CB371 0%, #9ACD32 100%));
  }

  #bear-case{
    background: var(--sky-gradient, linear-gradient(180deg, #87CEEB 0%, #87CEFA 100%));
  }

.button1,
.button2 {
    display: inline-flex;
    padding: 15px 27px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    color: #FFF;
    margin-top: 25px;
    margin-bottom: 25px;
    transition: background-color 0.3s ease;
}

.button1 {
    background: var(--primary, #0047AB);
}

.button2 {
    background: var(--royal-purple, #7851A9);
}

.button1:hover,
.button2:hover {
    background: var(--hover-color, #DC143C);
}

.content.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
  }
  
  .content.container h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .content.container p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }

  .footer {
    width: 100%;
    position: relative;
    height: 120px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #1E1E1E;
}

.footer-bg{
    position: absolute;
    width: 100%;
    height: 18.75rem;
    margin-top: 7%;
    /* top: 134.0625rem; */
    background-color:#1E1E1E;
  }

  .footer-desc{
    margin: 0.625rem 0;
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: #F7F7F7;
  }

  .footer-desc:hover{
    color:#F92A82;
  }

  .footer-link{
    color:#F7F7F7;
    font-weight: 300;
    font-size: 0.8125rem;
  }

  .footer-link:hover{
    color: #F92A82;
  }

  .footer-title{
    color: #F6BE9A;
    font-weight: 800;
    font-size: 1.0625rem;
  }

  .level{
    position: relative;
    padding-top: 5.5%;
    /* top: 4.6875rem; */
    margin-right: 9%;
    margin-left: 65%;
    display: flex;
    align-items:baseline;
    justify-content: space-between;
    gap: 1rem;
  }

  .logo-white{
    position: absolute;
    margin-top: 2%;
  }

  .logo-white img{
    margin-left: 10%;
    width: 13rem;
    height: 7rem;
  }

  .logo-white p{
    margin-left: 30%;
    font-size: 1rem;
    width: 10rem;
    color: white;
  }

  .orange-text{
    color: #FFA700;
  }

  .red-text{
    color: #DC143C;
  }
  
  label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  textarea.form-control,
  input.form-control-file {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .btn.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #0047AB;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .btn.btn-primary:hover {
    background-color: #002f6c;
  }
  